[submodule "CI-Components-Catalog"]
	path = CI-Components-Catalog
	url = https://github.com/ICICLE-ai/CI-Components-Catalog.git
[submodule "submodule"]
	path = submodule
	url = https://github.com/DavidL0914/submodule.git
[submodule "Markdown-Template-Creation"]
	path = Markdown-Template-Creation
	url = https://github.com/TurtleLions/Markdown-Template-Creation.git
